openapi: 3.0.0
info:
  title: User API
paths:
  /users:
    get:
      responses:
        "200":
          content:
            application/json:
              example: [{ "id": 1, "name": "JOHN DOE" }]
